.logo {
  width: 120px;
  min-width: 120px;
  height: 32px;
  background: rgba(255, 255, 255, .2);
  border-radius: 6px;
  margin-inline-end: 24px;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #c5c5c5;
}

.main {
  display: flex;
  flex-direction: row;
}

.navmenu {
  width: 100px;
  height: 100%;

  .nav {
    height: 100%;
    // background-color: #d31147;
    // color: #fff;
  }
}

.content {

}